<!-- section start -->
<section class="p-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-section">
                    <h1>Bilinmeyen Hata :(</h1>
                    <h2>Kaybolmuşa benziyorsunuz :(</h2>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-solid">Ana Sayfa</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
